@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Location</title>
    </head>
<body style="background-image:url(http://2oqz471sa19h3vbwa53m33yj-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/tourist-attraction-country-1200px.jpg); background-repeat:no-repeat;background-size: cover;">
    <div class="text-center">
        <h1 class="display-4" style="color:brown; width:auto"><b>The Top Tourist Attraction in Every Country</b></h1>
    </div>
    </body>
</html>  