@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Location</title>
    </head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:brown; width:auto"><b>Care este următoarea ta destinație?</b></h1>
    </div>
    </body>
</html>  